#wrapper{
    display: grid;
    grid-template-columns: 15% 70% 15%;
}
h1{
    font-size: 9vw;
}

h2{
    font-size: 1.8vw;
}
#centro{
    text-align: center;
    border: solid black;
    border-top: none;
    border-bottom: none;
    margin: auto;
}